.dashboard {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;

   .texts {
      font-size: 20px;
      font-weight: 600;
      color: white;
      margin: 20px 0;
   }

   .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      opacity: 0.5;

      img {
         height: 64px;
         width: 64px;
      }

      h1 {
         font-size: 40px;
         font-weight: 600;
         background: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(0, 255, 255, 1) 100%);
         -webkit-background-clip: text;
         color: transparent;
         font-weight: bold;
      }

   }

   .optionss {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      .options {
         /* flex: 1; */
         display: flex;
         flex-direction: column;
         gap: 10px;
         font-weight: 300;
         font-size: 14px;
         padding: 24px;
         border: 1px solid grey;
         border-radius: 20px;

         img {
            height: 60px;
            width: 60px;
            object-fit: cover;
         }

         img:hover {
            transform: scale(1.4);
            transition: all 0.3s ease-in-out;
         }
      }

      .options:hover {
         border: 2px solid white;
         cursor: pointer;
         transition: all 0.3s ease-in-out;
         /* background-color: #0ff;
                color: #000;
                box-shadow:
                    0 0 5px #0ff,
                    0 0 10px #0ff,
                    0 0 20px #0ff,
                    0 0 40px #0ff; */
         box-shadow:
            0 0 5px #00ffff,
            0 0 10px #00ffff,
            0 0 20px #00ffff,
            0 0 40px #00ffff;
         transform: scale(1.05);
      }
   }

   .f_Conatiner {
      margin-top: auto;
      width: 50%;
      background-color: transparent;
      border-radius: 10px;
      padding: 10px;
      display: flex;

      form {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: 100%;
         gap: 10px;
         padding: 0 10px;
         margin-bottom: 10px;
      }

      input {
         flex: 1;
         height: 40px;
         border: none;
         outline: none;
         border-radius: 10px;
         padding: 0 10px;
         font-size: 14px;
         /* background-color: transparent; */
      }

      button {
         background-color: black;
         border-radius: 50%;
         border: none;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         padding-right: 10px;

      }

      .forward_logo {
         height: 35px;
         width: 35px;
         border-radius: 50%;
         display: flex;


      }


      /* .forward_logo:hover {
         border: 2px solid white;
         cursor: pointer;
         transition: all 0.3s ease-in-out;
      } */
      img:hover {
         transform: scale(1.2);
         transition: all 0.3s ease-in-out;
         background-color: #0ff;
         color: #000;
         box-shadow:
            0 0 5px #0ff,
            0 0 10px #0ff,
            0 0 20px #0ff,
            0 0 40px #0ff;
      }
   }
}