*{
  
    .end {
        padding-bottom: 70px;
    }

    .message {
        margin: 10px;
        padding: 10px;
        align-self: flex-end;
        background-color: #007bff;
        color: white;
        border-radius: 10px 10px 0 10px;
        max-width: 80%;
        align-self: flex-end;
        
    }

    .newform {
        width: 50%;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;


        button,
        label {
            border-radius: 50px;
            /* background-color: #605e68; */
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: transparent;

            img {

                height: 40px;
                width: 40px;
                border-radius: 90%;
                display: flex;
                border: 1px solid white;


            }

            img:hover {
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
                background-color: #0ff;
                color: #000;
                box-shadow:
                    0 0 5px #0ff,
                    0 0 10px #0ff,
                    0 0 20px #0ff,
                    0 0 40px #0ff;
            }
        }

        input {
            width: 100%;
            height: 40px;
            border-radius: 20px;
            border: none;
            padding: 0px 20px;
            font-size: 16px;
            outline: none;

        }
    }
}